// Variables

$black      = #212121
$darkgray   = #424242
$gray       = #9E9E9E
$lightgray  = #E0E0E0
$white      = #FAFAFA

$blue       = #0277BD
$lightblue  = #29B6F6


gradient(deg, col1, col2)
    background col1
    background -moz-linear-gradient(deg, col1 0%, col2 100%)
    background -webkit-linear-gradient(deg, col1 0%, col2 100%)
    background linear-gradient(deg, col1, col2)

gradient-text(col1, col2)
    background -webkit-linear-gradient(col1, col2)
    -webkit-background-clip text
    -webkit-text-fill-color transparent
