@import '__variables'
@import '__fonts'


body, html
    margin 0
    padding 0
    width 100%
    height 100%
*
    box-sizing border-box
    font-family 'robotolight', Arial, sans-serif
body
    background url('https://hd.unsplash.com/photo-1470104240373-bc1812eddc9f')
    background-size cover

    &::before
        width 100%
        height 100%
        content ''
        display block
        position absolute
        top 0
        left 0
        // background rgba(black, 0.3)
        z-index -1


div.block
    background $white
    box-shadow 0px 0px 50px rgba(black, 0.5)

    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)

    text-align center
    line-height 10px
    border-radius 10px

div#upload
    width 600px
    height 300px

    & div.info
        width 50%
        position absolute
        left 50%
        top 20%
        transform translateX(-50%)
        line-height 5px

        gradient-text($blue, $lightblue)

        display flex
        flex-wrap wrap
        justify-content space-between

        padding 10px 0px

        & span:nth-of-type(1)
            font-size 1.8em
            // flex-grow 1
        & h1
            font-size 5em
            flex-grow 1


    & div.footnote
        position absolute
        bottom 0
        left 0
        width 100%
        height 50px
        line-height 50px
        color white
        gradient(90deg, $blue, $lightblue)
        border-radius 0 0 10px 10px

div.logreg
    div
        position absolute
        width 100%

    div.info
        top 0
        height calc(80% - 55px)
        border-radius 10px 10px 0 0
        line-height initial

        padding 15px

        h1
            color $blue
            gradient-text($blue, $lightblue)

        input[type=text], input[type=password]
            margin 8px 0px
            padding 8px 3px
            width 85%
            background $white
            border none
            border-bottom 1px solid rgba(black, 1)
            
            &::-webkit-input-placeholder
                color rgba($blue, 0.5)
            &:-moz-placeholder
                color rgba($blue, 0.5)
            &::-moz-placeholder
                color rgba($blue, 0.5)
            &:-ms-input-placeholder
                color rgba($blue, 0.5)
    .footnote
        position absolute
        width 100%
        bottom 0
        height 55px
        display block
        border none
        border-radius 0 0 10px 10px
        gradient(90deg, $blue, $lightblue)
        line-height 55px
        color $white
        font-size 1.3em
        transition 0.2s
        cursor pointer

        &:hover
            color $blue


div#login
    width 320px
    height 285px

    div.noaccount
        position absolute
        bottom -20px
        color $white
        a
            color $lightblue

div#register
    width 320px
    height 450px



ul.flashes
    position absolute
    top 0
    left 0
    margin 0
    padding 5px 0
    text-align center
    list-style none
    z-index 1
    gradient(90deg, $blue, $lightblue)
    color $white



