{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <form action='' method=post>
        <div>Register.</div>
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username() }}
        {{ form.email.label }} {{ form.email() }}
        {{ form.invite_key.label }} {{ form.invite_key() }}
        {{ form.password.label }} {{ form.password() }}
        {{ form.confirm.label }} {{ form.confirm() }}
        <input type=submit value=Register />
    </form>
{% endblock %}
